---
import { storyblokEditable } from "@storyblok/astro";
import Content from "./Content.astro";
import Summary from "../components/Summary.astro";
import slugify from "slugify";
import type { SummaryItems } from "../types/typesProps";
import { Image } from "astro:assets";

const { blok } = Astro.props;

const summary: SummaryItems[] = [];

interface blokTitle {
  component: string;
  title: string;
}

blok?.content.forEach((item: blokTitle) => {
  if (item.component === "title_two") {
    summary.push({ label: item.title, slug: slugify(item.title) });
  }
});
// console.log(blok);
---

<article {...storyblokEditable(blok)}>
  <div class="grid grid-cols-2 gap-x-8">
    <div>
      <h1 class="text-6xl text-mocha-900 font-bold mb-4">
        {blok.title}
      </h1>
      <p class="text-xl text-mocha-800 font-[450] mb-4 text-balance">
        {blok.description}
      </p>
    </div>
    <div>
      <!-- <img
        class="object-cover h-[300px] object-center"
        width="624"
        height="300"
        src={blok.imageHero?.filename}
        alt=""
      /> -->
      <Image
        class="object-cover h-[300px] object-center"
        width="624"
        height="300"
        src={blok.imageHero?.filename}
        alt="effet text reveal"
        layout="responsive"
        loading="eager"
      />
    </div>
  </div>
  <div class="mt-20 grid grid-cols-12 gap-24">
    <aside class="col-span-4">
      <div
        class="border-mocha-500 border-opacity-20 border-[1px] p-6 rounded-md sticky top-10"
      >
        <p class="text-xl font-bold">Sommaire</p>
        <Summary summary={summary} />
      </div>
    </aside>
    <div class="col-span-8">
      <Content bloks={blok.content} />
    </div>
  </div>
</article>
