---
import ViewIcons from "./ViewIcons.astro";
import { useStoryblokApi } from "@storyblok/astro";
const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
    content_type: "article",
    version: import.meta.env.DEV ? "draft" : "published",
    starts_with: "blog/",
});

const stories = data.stories;

interface Article {
    slug: string;
    content: {
        title: string;
        description: string;
        imageHero: {
            filename: string;
        };
    };
}

const { title } = Astro.props;
---

<div>
    <ViewIcons />
    <div>{title}</div>
    <ul class="articles">
        {
            stories.map((article: Article) => (
                <li class="border-[#00000010] border-[1px] rounded-lg overflow-clip flex">
                    <div class="card flex flex-col justify-between bg-white">
                        <a
                            href={`/blog/${article.slug}`}
                            class="block"
                        >
                            <img
                                class="image-hero w-full h-[300px] object-cover"
                                width="382"
                                height="300"
                                src={
                                    article.content.imageHero?.filename +
                                    "/m/382x0"
                                }
                                alt="image hero"
                            />
                        </a>
                        <div class="px-6 py-8 flex h-full">
                            <div class="flex flex-col justify-between">
                                <div>
                                    <a href={`/blog/${article.slug}`}>
                                        <h2 class="text-2xl font-bold">
                                            {article.content.title}
                                        </h2>
                                    </a>
                                    <p class="mt-10">
                                        {article.content.description}
                                    </p>
                                </div>
                                <a
                                    class="block mt-10 font-semibold"
                                    href={`/blog/${article.slug}`}
                                >
                                    <p>Lire plus</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            ))
        }
    </ul>
</div>
<style>
    .view--active {
        @apply text-mocha-100 bg-mocha-900 dark:text-mocha-900 dark:bg-mocha-100;
    }

    .articles {
        @apply grid grid-cols-1 lg:grid-cols-3 gap-8 lg:gap-4;
    }

    .articles--list {
        @apply grid grid-cols-1;

        & .card {
            @apply grid grid-cols-12;

            & > a {
                @apply col-span-4;
                flex-grow: 2;
            }

            & > div {
                @apply col-span-8;
            }
        }
    }
</style>
